/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 800px;
  margin: 0 auto;
  background-color: aqua;
}

.flex{
  display: flex;
}

.white{
  background-color: aqua;
}

.gray{
  background-color: blueviolet;
}

/* header */

header{
  background-color: blue;
}

.box-header{
  align-items: center;
  background-color: yellow;
  height: 100px;
  justify-content: space-between;
}

.logo,.menu,.botton-sign{
  border: 1px solid black;
}

.menu{
  text-align: center;
}

.botton-sign{
  text-align: right;
}

/* main */

.paragrafo{
  align-items: center;
  justify-content: center;
}

.box-sec{
  background-color: brown;
  height: 300px;
  width: 600px;
  margin: 20px;
}

.image{

}

.text{
  
}
