/* general */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 800px;
  margin: 0 auto;
}

.flex{
  display: flex;
}

.white{
  background-color: white;
  padding: 20px;
}

.gray{
  background-color: #F6F6F6;
  padding: 20px;
}

.black{
  background-color: black;
  padding: 20px;
}

/* header */

header{
  background-color: #255EE9;
}

.box-header{
  align-items: center;
  background-color: yellow;
  height: 100px;
  justify-content: space-between;
}

.menu li{
  list-style: none;
  display: inline;
}

.logo,.menu,.button-sign{
  border: 1px solid black;
}

/* main */

.jumbotron{

}

.paragrafo{
  align-items: center;
  justify-content: center;
}

.box-sec{
  background-color: brown;
  height: 300px;
  width: 600px;
}

.img-text{
  height: 300px;
}

.image{
  background-color: orange;
  width: 40%;
}

.text{
  background-color: olivedrab;
  width: 60%;
}

.jumbo{
  background-color: brown;
  width: 100%;
  height: 500px;
}

/* footer */

.box-footer{
  justify-content: space-evenly;
  color: white;
  height: 200px;
}

.social{
  width: 20%;
}

.small-box{
  border: 1px solid white;
}

.bottom-button{
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  border-top: 1px solid lightslategray;
  height: 100px;
}

